---
title: Demo
description: phpMyFAQ 2.8 and 2.9 demo versions, provided on various PHP and HHVM versions beginning with PHP 5.4 and higher
canonical:
domain: http://demo.phpmyfaq.de
layout: none
---
{{> head ~}}

{{> header ~}}

    <section class="demo section">
        <div class="container">
            <h1>{{page.title}}</h1>
            <p class="intro">
                You can test all these phpMyFAQ installations with the following credentials:
            </p>
            <dl class="dl-horizontal">
                <dt>Username</dt>
                <dd>admin</dd>
                <dt>Password</dt>
                <dd>demoadmin</dd>
            </dl>

            <div class="php row">
                <div class="col-md-6 col-xs-12">
                    <h2>phpMyFAQ {{ versions.stable }} on PHP 5.x/7.0</h2>
                    <ul class="list-unstyled text-center">
                        <li>
                            <a class="btn btn-cta-primary" rel="nofollow" target="_blank" href="http://jen.demo.phpmyfaq.de/">
                                phpMyFAQ {{ versions.stable }} (PHP 5.5)
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-cta-primary" rel="nofollow" target="_blank" href="http://moss.demo.phpmyfaq.de/">
                                phpMyFAQ {{ versions.stable }} (PHP 5.6)
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-cta-primary" rel="nofollow" target="_blank" href="http://richmond.demo.phpmyfaq.de/">
                                phpMyFAQ {{ versions.stable }} (PHP 7.0)
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h2>phpMyFAQ {{ versions.stable }} on HHVM</h2>
                    <ul class="list-unstyled text-center">
                        <li>
                            <a class="btn btn-cta-primary" rel="nofollow" target="_blank" href="http://denholm.demo.phpmyfaq.de/">
                                phpMyFAQ {{ versions.stable }} (HHVM 3.13.1)
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row php">
                <div class="col-md-6 col-xs-12">
                    <h2>phpMyFAQ {{ versions.development }} on PHP 5.x/7.0</h2>
                    <ul class="list-unstyled text-center">
                        <li>
                            <a class="btn btn-cta-primary" rel="nofollow" target="_blank" href="http://george.demo.phpmyfaq.de/">
                                phpMyFAQ {{ versions.development }} (PHP 5.5)
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-cta-primary" rel="nofollow" target="_blank" href="http://roger.demo.phpmyfaq.de/">
                                phpMyFAQ {{ versions.development }} (PHP 5.6)
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-cta-primary" rel="nofollow" target="_blank" href="http://timothy.demo.phpmyfaq.de/">
                                phpMyFAQ {{ versions.development }} (PHP 7.0)
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h2>phpMyFAQ {{ versions.development }} on HHVM</h2>
                    <ul class="list-unstyled text-center">
                        <li>
                            <a class="btn btn-cta-primary" rel="nofollow" target="_blank" href="http://pierce.demo.phpmyfaq.de/">
                                phpMyFAQ {{ versions.development }} (HHVM 3.13.1)
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row php">
                <div class="col-md-6 col-xs-12">
                    <h2>phpMyFAQ 2.8.29 on HHVM</h2>
                    <ul class="list-unstyled text-center">
                        <li>
                            <a class="btn btn-cta-primary" rel="nofollow" target="_blank" href="http://roy.demo.phpmyfaq.de/">
                                phpMyFAQ 2.8.29 (PHP 5.4)
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12">
                    <p>
                        You can do whatever you want with these installations, the installations will be reset every
                        day. And yes, <strong>phpMyFAQ {{ versions.stable }}</strong> still runs on <strong>PHP 5.3</strong>,
                        but we don't list it here anymore, as PHP 5.3 is EOL.
                    </p>
                    <p>
                        Thanks to <a rel="nofollow" target="_blank" href="http://www.webtropia.com/">myLoc managed IT
                        AG</a> for supporting our demo installations!
                    </p>
                </div>
            </div>
        </div>
    </section>

{{> footer ~}}

{{> scripts ~}}
