---
title: Demo
description: phpMyFAQ 2.9 and 3.0 demo versions, provided on various PHP and HHVM versions beginning with PHP 7.2 and higher
canonical:
domain: http://demo.phpmyfaq.de
layout: none
---
{{> head ~}}

{{> header ~}}

<section class="demo section">
  <div class="container">
    <h1>{{page.title}}</h1>
    <p class="intro">
      You can test all these phpMyFAQ installations with the following credentials:
    </p>
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd>demoadmin</dd>
      <dt>Password</dt>
      <dd>demoadmin</dd>
      <dt>Username</dt>
      <dd>demo</dd>
      <dt>Password</dt>
      <dd>demo</dd>
    </dl>

    <div class="row">
      <div class="col-md-6 col-xs-12">
        <h2>phpMyFAQ {{ versions.stable }} on PHP 7</h2>
        <ul class="list-unstyled text-center">
          <li>
            <a class="btn btn-cta-primary" rel="nofollow" target="_blank" href="http://roy.demo.phpmyfaq.de/">
              phpMyFAQ {{ versions.stable }} (PHP 7.3)
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-xs-12">
        <h2>phpMyFAQ {{ versions.development }} on PHP 7</h2>
        <ul class="list-unstyled text-center">
          <li>
            <a class="btn btn-cta-primary" rel="nofollow" target="_blank" href="http://moss.demo.phpmyfaq.de/">
              phpMyFAQ {{ versions.development }} (PHP 7.3)
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>
          You can do whatever you want with these installations, the installations will be reset every
          day.
        </p>
        <p>
          Thanks to <a rel="nofollow" target="_blank" href="http://www.webtropia.com/">myLoc managed IT
          AG</a> for supporting our demo installations!
        </p>
      </div>
    </div>
  </div>
</section>

{{> footer ~}}

{{> scripts ~}}
