    <section class="top-footer has-pattern">
        <div class="container">
          <h2 class="visuallyhidden">Other interesting links</h2>
            <div class="row">
                <div class="col-sm-4">
                    <h3>Getting started</h3>
                    <ul>
                        <li>
                            <a href="{{site.domain}}/requirements">Requirements</a>
                        </li>
                        <li>
                            <a href="{{site.domain}}/download">Download</a>
                        </li>
                        <li>
                            <a href="{{site.domain}}/changelog">Changelog</a>
                        </li>
                        <li>
                            <a href="{{site.domain}}/advisories">Security Advisories</a>
                        </li>
                        <li>
                            <a href="{{site.domain}}/translations">Translations</a>
                        </li>
                        <li>
                            <a href="{{site.domain}}/themes">Themes</a>
                        </li>
                        <li>
                            <a href="{{site.domain}}/app">
                                About iOS App
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3>Resources</h3>
                    <ul>
                        <li>
                            <a href="{{site.domain}}/news/">News archive</a>
                        </li>
                        <li>
                            <a href="{{site.domain}}/contribute">Contribute</a>
                        </li>
                        <li>
                            <a rel="nofollow" target="_blank" href="https://raw.github.com/thorsten/phpMyFAQ/main/LICENSE">
                                License
                            </a>
                        </li>
                        <li>
                            <a href="{{site.domain}}/donations">Donations</a>
                        </li>
                        <li>
                            <a href="{{site.domain}}/references">Who uses phpMyFAQ?</a>
                        </li>
                        <li>
                            <a href="{{site.domain}}/20years">20 years phpMyFAQ (2021)</a>
                        </li>
                        <li>
                            <a href="{{site.domain}}/15years">15 years phpMyFAQ (2016)</a>
                        </li>
                        <li>
                            <a href="{{site.domain}}/10years">10 years phpMyFAQ (2011)</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h3>Misc</h3>
                    <ul>
                        <li>
                            <a href="{{site.domain}}/thankyou">Thank you!</a>
                        </li>
                        <li>
                            <a href="{{site.domain}}/terms">Terms of Service</a>
                        </li>
                        <li>
                            <a href="{{site.domain}}/imprint">Imprint</a>
                        </li>
                        <li>
                            <a href="{{site.domain}}/privacy">Privacy Notice</a>
                        </li>
                        <li>
                            <a rel="nofollow" target="_blank" href="http://www.amazon.de/exec/obidos/registry/UQQJEX7BCHPZ/">
                                Thorsten's wishlist
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" target="_blank" href="http://www.amazon.de/registry/wishlist/FGS7DWAJIRLD">
                                Florian's wishlist
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="info text-center">
                    <h3 class="sub-title">Get Connected</h3>
                    <ul class="social-icons list-inline">
                        <li>
                            <a rel="nofollow" target="_blank" href="https://github.com/thorsten/phpMyFAQ">
                                <span class="visuallyhidden">phpMyFAQ at Github</span>
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" target="_blank" href="https://twitter.com/phpMyFAQ">
                                <span class="visuallyhidden">phpMyFAQ at Twitter</span>
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" target="_blank" href="https://www.facebook.com/phpMyFAQ/">
                                <span class="visuallyhidden">phpMyFAQ at Facebook</span>
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a rel="nofollow" target="_blank" href="https://phpmyfaq.slack.com/">
                                <span class="visuallyhidden">phpMyFAQ Slack Community</span>
                                <i class="fa fa-slack"></i>
                            </a>
                        </li>
                        <li class="last">
                            <a rel="nofollow" href="&#109;&#97;ilto&#58;thor%73%74&#37;6&#53;n&#64;p&#104;p&#109;y%66&#97;q&#46;&#100;e">
                                <span class="visuallyhidden">Mail me!</span>
                                <i class="fa fa-envelope"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



    <footer class="footer">
        <div class="container text-center">
            <small class="copyright">
                &copy; 2001-<script>document.write(new Date().getFullYear());</script> |
                Developed with <i class="fa fa-heart"></i> by Thorsten Rinne and the phpMyFAQ Team |
                All rights reserved.
            </small>
        </div>
    </footer>
