    <header class="header">
        <div class="container">
            <span class="logo pull-left">
                <a href="{{site.domain}}/">
                    <img src="{{site.domain}}/images/logo.png" width="199" height="50" alt="Logo of phpMyFAQ">
                </a>
                <span class="visuallyhidden">phpMyFAQ</span>
            </span>
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item{{#is basename "features"}} active{{/is}}">
                            <a href="{{site.domain}}/features">
                                Features
                            </a>
                        </li>
                        <li class="nav-item{{#is basename "documentation"}} active{{/is}}">
                            <a href="{{site.domain}}/documentation">
                                Documentation
                            </a>
                        </li>
                        <li class="nav-item{{#is basename "support"}} active{{/is}}">
                            <a href="{{site.domain}}/support">
                                Support
                            </a>
                        </li>
                        <li class="nav-item last{{#is basename "download"}} active{{/is}}">
                            <a href="{{site.domain}}/download">
                                Download
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
