<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">

    <title>{{site.title}} - {{page.title}}</title>

    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{#if page.description}}{{page.description}}{{else}}{{site.description}}{{/if}}">
    <meta name="author" content="Thorsten Rinne">
    <meta name="robots" content="{{#if page.robots}}{{page.robots}}{{else}}index, follow, NOODP{{/if}}">

    <link rel="canonical" href="{{site.domain}}/{{page.canonical}}">
    <link rel="alternate" hreflang="en" href="{{site.domain}}/{{page.canonical}}">
    <link rel="shortcut icon" href="{{site.domain}}/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{site.domain}}/assets/css/main.css">

    <script src="{{site.domain}}/assets/js/modernizr.js"></script>

    <meta property="og:url" content="{{site.domain}}">
    <meta property="og:title" content="{{site.title}} - {{page.title}}">
    <meta property="og:image" content="{{site.domain}}/images/logo.png">
    <meta property="og:site_name" content="phpMyFAQ">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{#if page.description}}{{page.description}}{{else}}{{site.description}}{{/if}}">

    <meta name="twitter:url" content="{{site.domain}}">
    <meta name="twitter:title" content="{{site.title}} - {{page.title}}">
    <meta name="twitter:image" content="{{site.domain}}/images/logo.png">
    <meta name="twitter:description" content="{{#if page.description}}{{page.description}}{{else}}{{site.description}}{{/if}}">

</head>
<body>
